name: Docker Nginx-hello CI

on: 
  workflow_dispatch:
    inputs:
      name:
        description: 'Choose image for building'
        required: true
        default: 'nginx-world' 

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: clone git repo
      run: git clone https://github.com/igorbarnovsky/barnilla-action.git
    
    - name: Go to folder with Dockerfile
      run: cd $GITHUB_WORKSPACE/${{ github.event.inputs.name }}/
      
    - name: Build the Docker image
      run: docker build . -t ${{ github.event.inputs.name }}:$(date +%s)

